
.home-banner {
  margin: 10px auto;

  h1 {
   font-size: 4rem;
   text-align: center;
   font-family: helvetica;
   text-shadow: 19 1 1 0.4;
   line-height: 1.2;
  }
}

.container .link {
  text-align:center;

}
.cards-home{
  margin: 5PX;
}






