.home-banner {
  margin: 10px auto;

  h1 {
   font-size: 4rem;
   text-align: center;
   font-family: helvetica;
   text-shadow: 19 1 1 0.4;
   line-height: 1.2;
  }
}

.link {
  text-align:center;

}
.cards-home{
  margin: 5px;
}

.product_desc{
  // background-color: red;
  margin: 30px 0px 0px 0px;
  font-size:2rem;
  text-align: center;
}

.testimonial_bar{
  display: flex;
  justify-content: space-around;
  margin: 40px 2px;
}

.testimonial{
  font-family: Raleway;
  font-style: italic;
  text-align: center;
}



