.block {
  display: flex;
  margin: 15px auto;
  width:900px;
  background-color: white;
}

.infos {
  margin: 5px 15px;
}


.btn-dark {
  position: relative;
  top: -55px; left: -285px;
  text-align: left;
}

.icon {
  text-align: center;
}
