.block {
  display: flex;
  margin: 15px auto;
  padding: 15px;
  width:900px;
  background-color: white;
  border-radius: 5px;
}

.infos {
  margin: 5px 15px;
}

.btn-dark {
  position: relative;
  top: -55px; left: -285px;
  text-align: left;
}

.icon {
  text-align: center;
}

.warper {
  display: flex;
    h1 {
  color: #801336;
  margin-bottom: 0;
  }
    h2 {
      color: grey;
      margin-top: 0;
    }
}

.box {
  margin: auto;
}




