<h1 class ="h1 bookings"> My ships bookings </h1>
<div class="container card-bookings">
  <div class="card booking" >
    <div class="card-trip">
      <img src="https://pixabay.com/get/54e8d44a4351ac14f1dc8460825668204022dfe05658764a73267ad5/vessel-2819930_640.png">
      <div class="card-infos ">
        <div>
          <!-- <h2> <%= @bookings.first.ship.#name %> </h2> -->

          <p>From : 06/06/2019 </p>
          <p>To : 08/06/2019 </p>
        </div>
        <h2 class="card-trip-pricing">1000€</h2>
      </div>
    </div>
  </div>
</div>

