<h1><%= @ship.name  %></h1>

<img src="https://galacticgazetteer.files.wordpress.com/2015/02/oz10.jpg" alt="" width="500px" height="300px">

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem nam similique, cumque natus minima excepturi necessitatibus neque maiores illo! Odio amet quasi, dolor in consectetur id, repellendus neque veniam rerum.</p>

<p>500€/day</p>

<p>Pick a date</p>

<p>Book now</p>
