

<div class="block">
<div class="show">
  <h1><%= @ship.name  %></h1>

  <%= cl_image_tag @ship.photo, height: 300, width: 500, crop: :fill %>

  <p><%= @ship.description %></p>

  <p>500€/day</p>

  <p>Pick a date</p>

  <p>Book now</p>
  <div class="link"><%= link_to 'Book now', bookings_path, class: 'btn btn-primary' %>
</div>
</div>
