.h1 {
   color: #111;
   font-family: 'Helvetica Neue', sans-serif;
   font-size: 3rem;
   letter-spacing: -1px;
   line-height: 1;
   text-align: center;
   padding-top: 28PX;

}


.info-bookings {
  color: black;
}

.h1 .bookings{
padding-bottom: 60PX;
padding-left: 60PX;
    font-size: 4.5rem;
    font-weight: none;

}

.bookings-info {
    padding-top: 95PX;
    text-align: center;

    padding: 20PX;
    padding-right: 73PX;
}

.title-bookings {
  color:#485761;
    text-align: center;
    font-size: 35px;
    padding-bottom:20PX;
    padding-top: 10PX;
    padding-left: 36PX;
}

.h5-bookings {
  padding-top: 20Px;
}

